block variables
doctype html
html
	head
		meta(charset="utf-8")
		link(rel="shortcut icon", href="/favicon.ico")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name="theme-color", content="#000000")
		title #{title} | WHATABYTE
		link(rel="stylesheet", href="/style.css")
	body
		div#root
		  div#crossimage
			  <p><img href="https://randomuser.me/api/portraits/med/women/18.jpg">a beautiful cross origin image</img></p>
			block layout-content
